.dashboardContainer {
  padding: 20px;
}

.dashboardTitle {
  text-align: center;
  margin-bottom: 40px;
}

.taskCards {
  display: flex;
  justify-content: space-between;
  gap: 20px; /* Ensures consistent spacing between all task cards */
  margin-bottom: 40px; /* Optional: adds space between task cards and the chart section */
}

.taskCard {
  width: 23%; /* Ensures that each task card takes up 23% of the container width */
  padding: 20px;
  background-color: #ffffff;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.481);
  position: relative;
}

.taskCount {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

/* Colored lines below task cards */
.taskCard:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5px;
  border-radius: 5px;
}

/* Custom colors for each task card's line */
.taskCard:nth-child(1):after {
  background-color: #ff0037; /* Red for Total Tasks */
}

.taskCard:nth-child(2):after {
  background-color: #0099ff; /* Blue for Assigned Tasks */
}

.taskCard:nth-child(3):after {
  background-color: #44ff00; /* Yellow for In-Progress Tasks */
}

.taskCard:nth-child(4):after {
  background-color: #4BC0C0; /* Green for Completed Tasks */
}

.chartsContainer {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.chartCard {
  width: 30%; /* Ensures each chart card takes up 30% of the container width */
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.481);
  border-radius: 10px;
}

.chartContainer {
  height: 300px; /* Set the desired height for the chart */
}